/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 120px;

  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  /* padding: 2rem 0 0 6.75rem; */
  padding-left:1rem ;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  /* position: fixed; */
  top: 100px;
  /* left: 10px; */
  border-radius: 10px;
  bottom: 50px;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
  margin-right: 1rem;
}



/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.user_img{
  width: 100px;
  height: 100px;
  margin: auto;
}

.nav__brand{
  display: flex;
  /* grid-template-columns: max-content max-content; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 20vw;
}
.nav__toggle{
  font-size: 1.25rem;
  /* padding: .75rem; */
  cursor: pointer;
  width: 5vw;
  height: 5vh;
  object-fit: contain;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  display: flex;
  align-items: center;
  /* grid-template-columns: max-content max-content; */
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
  color: #FFF ;
}
.nav__icon{
  /* font-size: 1.25rem; */
  width:3vw;
  height: 3vh;
  color:white;
  object-fit: contain;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 15rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

.mobile_only{
  display: none;;
}

@media screen and (max-width: 768px) {
  /* .username{
    display: none;
  } */
  .l-navbar{
    /* position: fixed; */
    top: 10px;
    left: 40px;
    border-radius: 15px;
    bottom: 50px;
    height: var(--nav-width);
    /* width: 96vw; This is causing the issue, it should be changed */
    width: 110%;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
  }
  
  /*===== NAV =====*/
  .nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav__list{
    display: flex;
    justify-content: space-between;
  }
  
  .nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
  }
  .nav__logo{
    color: var(--white-color);
    font-weight: 600;
  }
  
  .nav__link{
    /* display: inline; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    row-gap: .75rem;
    /* padding: .75rem; */
    color: var(--white-color);
    border-radius: .5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    transition: .3s;
    cursor: pointer;
  }
  .nav__link:hover{
    background-color: var(--first-color);
  }
  .nav__icon{
    font-size: 1.25rem;
    width: 6vw;
    height: 5vw;
    object-fit: contain;
  }
  .nav__name{
    font-size: var(--small-font-size);
  }
  
  /*Add padding body*/
  .body-pd{
    padding: 2rem 0 0 16rem;
  }
  
  /*Active links menu*/
  .active{
    background-color: var(--first-color);
  }

  .desktop_only{
    display: none;
  }

  .mobile_only{
    display: inline; 
  }
  .nav__name{
    display: none;
  }
  
}